{% load active_nav %}
<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
  >
    <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.webp" alt=""> -->
      <h1 class="sitename">TheProperty</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a class="{% active 'core:home' %}" href="{% url 'core:home' %}"
            >Home</a
          >
        </li>

        <li>
          <a
            class="{% active 'core:properties' %}"
            href="{% url 'core:properties' %}"
            >Properties</a
          >
        </li>
        <li>
          <a href="#">Buy</a>
        </li>
        <li>
          <a href="#">Rent</a>
        </li>
        <li>
          <a
            class="{% active 'core:services' %}"
            href="{% url 'core:services' %}"
            >Services</a
          >
        </li>
        <li>
          <a class="{% active 'core:agents' %}" href="{% url 'core:agents' %}"
            >Agents</a
          >
        </li>
        <li>
          <a class="{% active 'core:blog' %}" href="{% url 'core:blog' %}"
            >Blog</a
          >
        </li>
        {% comment %}
        <li class="dropdown">
          <a href="#"
            ><span>More Pages</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i
          ></a>
          <ul>
            <li>
              <a href="{% url 'core:property_detail' %}">Property Details</a>
            </li>
            <li>
              <a href="{% url 'core:service_detail' %}">Service Details</a>
            </li>
            <li><a href="{% url 'core:agent_profile' %}">Agent Profile</a></li>
            <li><a href="{% url 'core:blog_detail' %}">Blog Details</a></li>
            <li><a href="{% url 'core:terms' %}">Terms</a></li>
            <li><a href="{% url 'core:privacy_policy' %}">Privacy</a></li>
            <li><a href="404.html">404</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#"
            ><span>Dropdown</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i
          ></a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Deep Dropdown</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i
              ></a>
              <ul>
                <li><a href="#">Deep Dropdown 1</a></li>
                <li><a href="#">Deep Dropdown 2</a></li>
                <li><a href="#">Deep Dropdown 3</a></li>
                <li><a href="#">Deep Dropdown 4</a></li>
                <li><a href="#">Deep Dropdown 5</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
          </ul>
        </li>
        {% endcomment %}
        <li>
          <a class="{% active 'core:contact' %}" href="{% url 'core:contact' %}"
            >Contact</a
          >
        </li>
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#"><span>{{user.first_name}}'s Profile</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li>
              <a href="{% url 'core:property_detail' %}">Property Details</a>
            </li>
            <li>
              <a href="{% url 'core:service_detail' %}">Service Details</a>
            </li>
            <li><a href="{% url 'core:agent_profile' %}">Agent Profile</a></li>
            <li><a href="{% url 'core:blog_detail' %}">Blog Details</a></li>
            <li><a href="{% url 'core:terms' %}">Terms</a></li>
            <li><a href="{% url 'core:privacy_policy' %}">Privacy</a></li>
            <li></li>
          </ul>
        </li>
        {% else %}
        <li>
          <a class="{% active 'user:login' %}" href="{% url 'user:login' %}"
            >Sign In</a
          >
        </li>
        {% endif %}
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'user:logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn-signout">Sign Out</button>
    </form>
    {% else %}

    <a class="btn-getstarted" href="{% url 'user:signup' %}">Sign Up</a>
    {% endif %}
  </div>
</header>
