.header .btn-signout,
.header .btn-signout:focus {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-size: 14px;
  padding: 8px 20px;
  margin: 0 0 0 30px;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
}

.header .btn-signout:hover,
.header .btn-signout:focus:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
}
.navmenu .dropdown ul .logout-btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--nav-font);
  text-transform: none;
  color: var(--nav-dropdown-color);
  background-color: unset;
  border: none;
  &:hover {
    color: var(--nav-dropdown-hover-color);
  }
}
